<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h2>Jobs in progress</h2>

  <table class="w3-table w3-striped w3-border">
    <tr>
      <th width="200px">Job title</th>
      <th width="150px">Student in charge</th>
      <th width="100px">Money</th>
      <th width="100px">Start time</th>
      <th width="100px">End time</th>
    </tr>
    <% @jobs.each do |pr| %>
      <tr>
        <% p = Micropost.find(pr.micropost_id) %>
        <% u = User.find(pr.user_id) %>
        <td><%= link_to p.title, p %></td>
        <td><%= link_to u.name, u%></td>
        <td><%= p.money %></td>        
        <td><%= p.start_time %></td>
        <td><%= p.end_time %></td>
      </tr>
    <% end %>
    <% @unmatched_job.each do |ujob| %>
      <tr>
        <td><%= link_to ujob.title, ujob %></td>
        <td><u>Not in progress</u></td>
        <td><%= ujob.money %></td>        
        <td><%= ujob.start_time %></td>
        <td><%= ujob.end_time %></td>
      </tr>
    <% end %>
  </table>
</div>
