<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h2>Student's Request</h2>

  <table class="w3-table w3-striped w3-border">
    <tr>
      <th width="100px">Job ID</th>
      <th width="200px">Student name</th>
      <th>PR</th>
      <th width="100px">Accept</th>
      <th width="100px">Cancel</th>
    </tr>
    <% @prs.each do |pr| %>
      <tr>
        <% p = Micropost.find(pr.micropost_id) %>
        <td><%= link_to pr.micropost_id, micropost_path(id: pr.micropost_id) %></td>
        <td><%= pr.user.name %></td>
        <td><%= pr.pr %></td>
        <td><%= link_to "Accept", accept_student_path(micropost_id: pr.micropost_id, user_id: pr.user_id) %></td>
        <td><%= link_to "Cancel", cancel_student_path(micropost_id: pr.micropost_id, user_id: pr.user_id), data: { confirm: "You sure?" } %></td>
      </tr>
    <% end %>
  </table>
</div>
