<%= nested_form_for @user do |f| %>
  hehe
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <div class="form-group" id="f1">
                <label for="exampleInputPassword1">Skill</label>
                <%= f.fields_for :user_skills do |skill_form| %>
                  <%= skill_form.text_field :name,placeholder:"俳優名" %>
                  <%= skill_form.text_field :role,placeholder:"ロール"%>
                  <br>
                  <%= skill_form.link_to_remove "削除" %>
                <% end %>
                <p><%= f.link_to_add "キャストを追加", :characters %></p>
              </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>